In [22]:
import pandas as pd
import numpy as np
import utils.util as ut

In [23]:
pd.options.display.float_format = '{:.2f}'.format

In [24]:
df = pd.read_csv("../data/data.csv")

## Data inspection

In [25]:
df

,Entity,Continent,Latitude,Longitude,Average temperature per year,Hospital beds per 1000 people,Medical doctors per 1000 people,GDP/Capita,Population,Median age,Population aged 65 and over (%),Date,Daily tests,Cases,Deaths
0,Albania,Europe,41.15,20.17,14,2.89,1.29,5353.20,2873457,38,14,2020-02-25,8.00,NaN,NaN
1,Albania,Europe,41.15,20.17,14,2.89,1.29,5353.20,2873457,38,14,2020-02-26,5.00,NaN,NaN
2,Albania,Europe,41.15,20.17,14,2.89,1.29,5353.20,2873457,38,14,2020-02-27,4.00,NaN,NaN
3,Albania,Europe,41.15,20.17,14,2.89,1.29,5353.20,2873457,38,14,2020-02-28,1.00,NaN,NaN
4,Albania,Europe,41.15,20.17,14,2.89,1.29,5353.20,2873457,38,14,2020-02-29,8.00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38467,Zimbabwe,Africa,-19.02,29.15,20,1.70,0.08,1464.00,16529904,19,3,2021-02-24,1804.00,35960.00,1456.00
38468,Zimbabwe,Africa,-19.02,29.15,20,1.70,0.08,1464.00,16529904,19,3,2021-02-25,2965.00,35994.00,1458.00
38469,Zimbabwe,Africa,-19.02,29.15,20,1.70,0.08,1464.00,16529904,19,3,2021-02-26,NaN,36044.00,1463.00
38470,Zimbabwe,Africa,-19.02,29.15,20,1.70,0.08,1464.00,16529904,19,3,2021-02-27,NaN,36058.00,1463.00
38471,Zimbabwe,Africa,-19.02,29.15,20,1.70,0.08,1464.00,16529904,19,3,2021-02-28,NaN,36089.00,1463.00

In [26]:
df.describe()

,Latitude,Longitude,Average temperature per year,Hospital beds per 1000 people,Medical doctors per 1000 people,GDP/Capita,Population,Median age,Population aged 65 and over (%),Daily tests,Cases,Deaths
count,38472.00,38472.00,38472.00,38472.00,38472.00,38472.00,38472.00,38472.00,38472.00,30577.00,38218.00,34862.00
mean,23.74,20.21,17.72,3.17,2.09,19002.33,48969829.03,32.75,10.66,39440.59,287902.66,8090.50
std,26.06,61.07,8.13,2.56,1.52,22271.11,142725118.68,8.47,6.77,150184.66,1405242.87,29548.75
min,-40.90,-106.35,-2.00,0.20,0.02,411.60,341284.00,16.00,1.00,-239172.00,1.00,1.00
25%,8.62,-3.44,11.00,1.40,0.82,3659.00,4793900.00,27.00,5.00,1505.00,2074.00,77.00
50%,27.51,21.82,20.00,2.50,1.89,8821.80,11484636.00,32.00,8.00,5520.00,21431.00,527.00
75%,45.94,47.48,25.00,4.49,3.21,25946.20,42862958.00,41.00,16.00,20382.00,137377.00,3480.50
max,64.96,179.41,29.00,13.05,7.52,114704.60,1339180127.00,48.00,28.00,2945871.00,28605669.00,513091.00

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38472 entries, 0 to 38471
Data columns (total 15 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Entity                           38472 non-null  object
 1   Continent                        38472 non-null  object
 2   Latitude                         38472 non-null  float64
 3   Longitude                        38472 non-null  float64
 4   Average temperature per year     38472 non-null  int64
 5   Hospital beds per 1000 people    38472 non-null  float64
 6   Medical doctors per 1000 people  38472 non-null  float64
 7   GDP/Capita                       38472 non-null  float64
 8   Population                       38472 non-null  int64
 9   Median age                       38472 non-null  int64
 10  Population aged 65 and over (%)  38472 non-null  int64
 11  Date                             38472 non-null  object
 12  Daily tests                      30577 non-null  float64
 13  Cases                            38218 non-null  float64
 14  Deaths                           34862 non-null  float64
dtypes: float64(8), int64(4), object(3)
memory usage: 4.4+ MB

### Observations

From an initial inspection, we can observe that:

* The `Daily tests` column has a lot of missing values.
* The `Cases` and `Deaths` columns have some missing values.
* The `Daily tests` column has some negative values, which would be impossible.

## Handling the negative values

In the context of this dataset, negative values in the `Daily tests` column are impossible. Therefore, we'll have to
deal with them. As a first step, we'll replace them with NaN values, and then we'll handle them later along with the
other missing values.

In [28]:
df.loc[df['Daily tests'] < 0, 'Daily tests'] = np.nan

## Handling the missing values

### Replace with zeros

In the `Deaths` and `Cases` columns there the missing values, but they take up only the first few rows of each 
country. Therefore, we can safely assume that the missing values actually represent 0, and we can replace them.

In the `Daily tests` column there are a lot more missing values, and they're scattered throughout the dataset for 
each country. Assuming they're all 0 is therefore not an option.

In [29]:
df['Cases'].fillna(0, inplace=True)
df['Deaths'].fillna(0, inplace=True)

In [30]:
df['Cases'] = df.groupby('Entity')['Cases'].transform('cummax')
df['Deaths'] = df.groupby('Entity')['Deaths'].transform('cummax')

### Add columns

Since we've dealt with the missing values in the `Cases` and `Deaths` columns, we can now calculate and add the
`Daily cases` and `Daily deaths` columns, which will be useful later.

In [31]:
df['Daily cases'] = df.groupby('Entity')['Cases'].diff().fillna(0)
df['Daily deaths'] = df.groupby('Entity')['Deaths'].diff().fillna(0)

### Interpolate the missing values

For the `Daily tests` column, we'll first try to fill in the smaller gaps with linear interpolation. To do this, we'll
group the data by country, and then interpolate the missing values for each country separately, applying a limit of 3
consecutive missing values.

In [32]:
df['Daily tests'] = (df.groupby('Entity')['Daily tests']
                     .transform(lambda x: x.interpolate(method='linear', limit_area='inside', limit=3)))

df

,Entity,Continent,Latitude,Longitude,Average temperature per year,Hospital beds per 1000 people,Medical doctors per 1000 people,GDP/Capita,Population,Median age,Population aged 65 and over (%),Date,Daily tests,Cases,Deaths,Daily cases,Daily deaths
0,Albania,Europe,41.15,20.17,14,2.89,1.29,5353.20,2873457,38,14,2020-02-25,8.00,0.00,0.00,0.00,0.00
1,Albania,Europe,41.15,20.17,14,2.89,1.29,5353.20,2873457,38,14,2020-02-26,5.00,0.00,0.00,0.00,0.00
2,Albania,Europe,41.15,20.17,14,2.89,1.29,5353.20,2873457,38,14,2020-02-27,4.00,0.00,0.00,0.00,0.00
3,Albania,Europe,41.15,20.17,14,2.89,1.29,5353.20,2873457,38,14,2020-02-28,1.00,0.00,0.00,0.00,0.00
4,Albania,Europe,41.15,20.17,14,2.89,1.29,5353.20,2873457,38,14,2020-02-29,8.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38467,Zimbabwe,Africa,-19.02,29.15,20,1.70,0.08,1464.00,16529904,19,3,2021-02-24,1804.00,35960.00,1456.00,50.00,8.00
38468,Zimbabwe,Africa,-19.02,29.15,20,1.70,0.08,1464.00,16529904,19,3,2021-02-25,2965.00,35994.00,1458.00,34.00,2.00
38469,Zimbabwe,Africa,-19.02,29.15,20,1.70,0.08,1464.00,16529904,19,3,2021-02-26,NaN,36044.00,1463.00,50.00,5.00
38470,Zimbabwe,Africa,-19.02,29.15,20,1.70,0.08,1464.00,16529904,19,3,2021-02-27,NaN,36058.00,1463.00,14.00,0.00
38471,Zimbabwe,Africa,-19.02,29.15,20,1.70,0.08,1464.00,16529904,19,3,2021-02-28,NaN,36089.00,1463.00,31.00,0.00

### Find edge-cases

Some countries might be missing a lot of values in the `Daily tests` column, so it wouldn't be accurate enough to try
and guess them. It's better to drop any edge-cases we find before we proceed.

In [33]:
nan_df = (df[['Entity', 'Daily tests']]
          .groupby('Entity')
          .apply(lambda x: x.isna().mean() * 100)
          .sort_values(by='Daily tests', ascending=False))
nan_df

             Entity  Daily tests
Entity
Algeria        0.00        97.57
Oman           0.00        83.56
Vietnam        0.00        76.67
Armenia        0.00        74.25
Belarus        0.00        74.11
...             ...          ...
Israel         0.00         0.80
Slovenia       0.00         0.80
Denmark        0.00         0.80
Switzerland    0.00         0.75
Latvia         0.00         0.55

[104 rows x 2 columns]

### Drop the edge-cases

We will treat all countries with more than 40% missing values in the `Daily tests` column as edge-cases and drop them.

In [34]:
countries_to_drop = nan_df[(nan_df['Daily tests'] > 40)].index.tolist()

df = df[~df['Entity'].isin(countries_to_drop)].copy()

df.reset_index(drop=True, inplace=True)

### Replace with the average ratio

For the remaining missing values in the `Daily tests` column, we'll try to fill them in based on the average ratio
between the `Daily tests` and `Daily cases` columns for each country. We'll first calculate the average ratio for each
country, and then we'll use it to fill in the missing values. This method should leave no missing values behind.

In [35]:
avg_ratios = df.groupby('Entity').apply(ut.compute_avg_ratio)

df['Daily tests'] = df.apply(lambda x: ut.fill_na_based_on_ratio(x, avg_ratios), axis=1)

## Add columns 

We will add some additional columns that we will need later.

In [36]:
df['Daily tests'] = df['Daily tests'].round(0)
df['Tests'] = df.groupby('Entity')['Daily tests'].cumsum()

## Save the preprocessed data

We will save the preprocessed data to a csv file to use it later.

In [37]:
df.to_csv("../data/pp_data.csv", index=False)

## Compute the summary data for each country

In [52]:
# Group by 'Entity'
dfg = df.groupby('Entity')

# Find the columns that have constant values and the columns that have variable values.
const_cols = set([col for entity, entity_df in dfg for col in entity_df.columns if len(entity_df[col].unique()) == 1])
var_cols = set(df.columns.to_list()) - const_cols

dfg.first()

,Continent,Latitude,Longitude,Average temperature per year,Hospital beds per 1000 people,Medical doctors per 1000 people,GDP/Capita,Population,Median age,Population aged 65 and over (%),Date,Daily tests,Cases,Deaths,Daily cases,Daily deaths,Tests
Entity,,,,,,,,,,,,,,,,,
Albania,Europe,41.15,20.17,14,2.89,1.29,5353.20,2873457,38,14,2020-02-25,8.00,0.00,0.00,0.00,0.00,8.00
Argentina,South America,-38.42,-63.62,14,5.00,3.91,9912.30,44271041,31,11,2020-01-01,4.00,0.00,0.00,0.00,0.00,4.00
Australia,Oceania,-25.27,133.78,22,3.84,3.50,55060.30,24598933,37,16,2020-01-26,593.00,4.00,0.00,0.00,0.00,593.00
Austria,Europe,47.52,14.55,8,7.37,5.23,50137.70,8809212,44,19,2020-02-25,35.00,2.00,0.00,0.00,0.00,35.00
Bahrain,Asia,25.93,50.64,27,2.00,0.92,23504.00,1492584,32,2,2020-02-24,29.00,1.00,0.00,0.00,0.00,29.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
United Kingdom,Europe,55.38,-3.44,8,2.54,2.82,42330.10,66022273,40,18,2020-01-31,24.00,2.00,0.00,0.00,0.00,24.00
United States,North America,37.09,-95.71,11,2.77,2.57,65297.50,325719178,38,16,2020-01-22,13.00,1.00,0.00,0.00,0.00,13.00
Uruguay,South America,-32.52,-55.77,16,2.80,3.74,16190.10,3456750,35,15,2020-03-13,18.00,4.00,0.00,0.00,0.00,18.00
Zambia,Africa,-13.13,27.85,21,2.00,0.09,1305.10,17094130,17,2,2020-03-18,14.00,2.00,0.00,0.00,0.00,14.00
Zimbabwe,Africa,-19.02,29.15,20,1.70,0.08,1464.00,16529904,19,3,2020-03-20,12.00,1.00,0.00,0.00,0.00,12.00

In [57]:
sum_df = dfg[list(const_cols - {'Entity'})].first()
sum_df['Days'] = dfg['Date'].count()
sum_df[['Tests/Million', 'Cases/Million', 'Deaths/Million']] = (
        dfg[['Tests', 'Cases', 'Deaths']].last().div(sum_df['Population'], axis=0) * 1e6)

sum_df['Positivity rate (%)'] = sum_df['Cases/Million'].div(sum_df['Tests/Million'], axis=0) * 100
sum_df['Mortality rate (%)'] = sum_df['Deaths/Million'].div(sum_df['Cases/Million'], axis=0) * 100

sum_df = sum_df.round(2)

sum_df

,Medical doctors per 1000 people,Median age,Population,Longitude,Continent,Average temperature per year,Population aged 65 and over (%),Hospital beds per 1000 people,GDP/Capita,Latitude,Days,Tests/Million,Cases/Million,Deaths/Million,Positivity rate (%),Mortality rate (%)
Entity,,,,,,,,,,,,,,,,
Albania,1.29,38,2873457,20.17,Europe,14,14,2.89,5353.20,41.15,370,157600.76,37295.49,625.03,23.66,1.68
Argentina,3.91,31,44271041,-63.62,South America,14,11,5.00,9912.30,-38.42,404,140783.75,47601.43,1173.79,33.81,2.47
Australia,3.50,37,24598933,133.78,Oceania,22,16,3.84,55060.30,-25.27,400,685304.32,1178.02,36.95,0.17,3.14
Austria,5.23,44,8809212,14.55,Europe,8,19,7.37,50137.70,47.52,370,1692491.11,52154.49,971.82,3.08,1.86
Bahrain,0.92,32,1492584,50.64,Asia,27,2,2.00,23504.00,25.93,371,2290817.13,82001.41,300.82,3.58,0.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
United Kingdom,2.82,40,66022273,-3.44,Europe,8,18,2.54,42330.10,55.38,395,1286307.40,63445.66,1864.26,4.93,2.94
United States,2.57,38,325719178,-95.71,North America,11,16,2.77,65297.50,37.09,404,1021857.65,87823.10,1575.26,8.59,1.79
Uruguay,3.74,35,3456750,-55.77,South America,16,15,2.80,16190.10,-32.52,353,310999.35,16777.03,175.89,5.39,1.05
Zambia,0.09,17,17094130,27.85,Africa,21,2,2.00,1305.10,-13.13,348,63443.77,4594.21,63.82,7.24,1.39
Zimbabwe,0.08,19,16529904,29.15,Africa,20,3,1.70,1464.00,-19.02,346,22525.30,2183.26,88.51,9.69,4.05

In [58]:
sum_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 93 entries, Albania to Zimbabwe
Data columns (total 16 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Medical doctors per 1000 people  93 non-null     float64
 1   Median age                       93 non-null     int64
 2   Population                       93 non-null     int64
 3   Longitude                        93 non-null     float64
 4   Continent                        93 non-null     object
 5   Average temperature per year     93 non-null     int64
 6   Population aged 65 and over (%)  93 non-null     int64
 7   Hospital beds per 1000 people    93 non-null     float64
 8   GDP/Capita                       93 non-null     float64
 9   Latitude                         93 non-null     float64
 10  Days                             93 non-null     int64
 11  Tests/Million                    93 non-null     float64
 12  Cases/Million                    93 non-null     float64
 13  Deaths/Million                   93 non-null     float64
 14  Positivity rate (%)              93 non-null     float64
 15  Mortality rate (%)               93 non-null     float64
dtypes: float64(10), int64(5), object(1)
memory usage: 14.4+ KB

In [59]:
sum_df.describe().round(2).T

,count,mean,std,min,25%,50%,75%,max
Medical doctors per 1000 people,93.00,2.06,1.55,0.02,0.79,1.82,3.13,7.52
Median age,93.00,32.88,8.68,16.00,27.00,32.00,41.00,48.00
Population,93.00,50456953.15,146598671.09,341284.00,4813608.00,12208407.00,44271041.00,1339180127.00
Longitude,93.00,17.31,62.72,-106.35,-8.22,20.17,45.08,179.41
Average temperature per year,93.00,17.81,7.98,-2.00,11.00,20.00,25.00,29.00
Population aged 65 and over (%),93.00,10.89,6.84,1.00,5.00,9.00,17.00,28.00
Hospital beds per 1000 people,93.00,3.13,2.48,0.30,1.38,2.50,4.49,13.05
GDP/Capita,93.00,19712.37,22727.01,411.60,3853.10,9828.10,27858.40,114704.60
Latitude,93.00,22.60,26.71,-40.90,7.95,25.93,45.10,64.96
Days,93.00,370.14,19.12,334.00,357.00,366.00,375.00,425.00
Tests/Million,93.00,501284.82,709512.51,7691.77,73481.29,215954.17,671488.71,3516786.25
Cases/Million,93.00,28581.49,26090.03,65.16,4594.21,20917.02,45673.64,91971.06
Deaths/Million,93.00,553.86,562.98,1.20,65.46,300.82,1038.98,1941.34
Positivity rate (%),93.00,10.45,9.17,0.14,3.75,8.14,13.88,44.61
Mortality rate (%),93.00,1.98,1.30,0.12,1.09,1.79,2.53,8.90

## Save the summary data

We will save the summary data to a csv file to use it later.

In [60]:
sum_df.to_csv('../data/sum_data.csv')